html, body {
    height: 100%;
    margin: 0%;
}

body {
    display: flex;
    /* background-color: black; */
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ddddff;
}