html, body {
    height: 100%;
    margin: 0%;
}

body {
    display: flex;
    background-color: black;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #93ecfa;
}

header {
    width: 800px;
    height: 50px;
    font-size: 14px;
    border: 1px solid pink;
    border-bottom: none;
}

canvas {
    display: block;
    border: 1px solid pink;
}

header > button, header > span, header > div {
    margin: 8px 8px 0 8px;
}

header > button {
    display: block;        
    float: right;
    height: 30px;
}

header div {
    margin-top: 76px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header > span {
    float: left;
    clear: left;
}